- name: Ensure that AWS infrastructure are configured
  hosts: localhost
  tasks:
  - name: Wait for SSH to come up
    wait_for: host={{ item }} port=22 delay=5 timeout=320 state=started
    with_items: "{{ groups.all }}"